In [ ]:
ListA = ["Rice - 2kg","Dal-1kg", "Fries-400gm",23.65, 900, False]

print(ListA[0])
ListA.insert(2,345)
print(ListA)
ListA.append(False)
print(ListA)

Rice - 2kg
['Rice - 2kg', 'Dal-1kg', 345, 'Fries-400gm', 23.65, 900, False]
['Rice - 2kg', 'Dal-1kg', 345, 'Fries-400gm', 23.65, 900, False, False]

In [ ]:
ListA.append(False)
print(ListA)

['Rice - 2kg', 'Dal-1kg', 345, 'Fries-400gm', 23.65, 900, False, False, False, False, False, False, False]

In [ ]:
ListA.pop(8)
print(ListA)

['Rice - 2kg', 'Dal-1kg', 345, 'Fries-400gm', 23.65, 900, False, False, False, False]

In [ ]:
mylistB = ["Rice - 2kg","Dal - 3kg","Curry - 2 bowls"]
print(mylistB[0])
print(mylistB[1])
print(mylistB[2])
print(mylistB[-1])
print(mylistB[-2])
print(mylistB[-3])

Rice - 2kg
Dal - 3kg
Curry - 2 bowls
Curry - 2 bowls
Dal - 3kg
Rice - 2kg

In [ ]:
for y in mylistB:
  print(y)

Rice - 2kg
Dal - 3kg
Curry - 2 bowls

In [ ]:
minetuple=("Origami","Horse","Orizon",47)
print(minetuple)
print(len(minetuple))

print("The updated values are",minetuple)

('Origami', 'Horse', 'Orizon', 47)
4
The updated values are ('Origami', 'Horse', 'Orizon', 47)

In [ ]:
myonlydic={
    "Brand":"Volkswagen",
    "Color":"Bluish Green",
    "Mfg year":"2002",
    "Engine":"39090cc"
} 
myonlydic["S/N"]=22054879
print(myonlydic)

{'Brand': 'Volkswagen', 'Color': 'Bluish Green', 'Mfg year': '2002', 'Engine': '39090cc', 'S/N': 22054879}

In [ ]:
set4d={'2 french fries', "burger"," 0","pizza","coke"}
print(set4d)

{' 0', '2 french fries', 'coke', 'burger', 'pizza'}

In [ ]:
set1={"090001001","01010"}
set2={"precious0010","for","everyone"}
set3=set1|set2
print(set3)

{'01010', 'everyone', '090001001', 'precious0010', 'for'}

In [ ]:
set1={"090001001","01010"}
set2={"precious0010","for","everyone"}
set3=set1&set2
print(set3)

In [ ]:
w="Extravagantlycosmogenital"
print(w[14:18])
print(w[-9:-2])
print(w[5:15])
print(w[2:10])
print(w[0:20])
print(w[0:20:15])

osmo
mogenit
vagantlyco
travagan
Extravagantlycosmoge
Es

In [ ]:
def IBM(join,time,venue):
  print("Join us on IBM techfest \non",join,"\nat",time,venue)
IBM("\n26th November 2022", time="\n7am", venue="\nIIM,Jammu")

Join us on IBM techfest
on
26th November 2022
at
7am
IIM,Jammu

In [ ]:
def teachnook(course,domain,price):
 print("The cost for",course,"in",domain,"domain is",price)
teachnook("B.Tech","Cyber Security",250000)

The cost for B.Tech in Cyber Security domain is 250000

In [ ]:
a="hello everyone"
print(a.index("e",7))

8